//DROPDOWN
.vs__clear {
    display: none;
}

.v-select {
    background-color: #F6F8FA;
    color: #76879E;
    height: 64px;
    border: none;
    border-radius: 14px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 252.8%;

    .vs__dropdown-toggle {
        padding: 12px 28px 12px 18px;
        height: 64px;
        border: none;
    }

    .vs__selected-options {
        height: 40px;
        padding: 0px;
    }

    .vs__search {
        border: none;
        padding: 0px;
        margin: 0px;
    }

    .vs__open-indicator {
        fill: #c0ccda;
    }
}

.v-select.vs--open {
    background-color: #fff;
    border-bottom: 1px solid #F2F5F8;
    box-shadow: 0px 12px 34px -12px rgba(0, 0, 0, 0.16);
}

.v-select.drop-down.vs--open {
    border-radius: 14px 14px 0px 0px;
}
.v-select.drop-up.vs--open {
    border-radius: 0 0 14px 14px;
}

[data-popper-placement='top'] {
    border-radius: 14px 14px 0 0;
    box-shadow: 0px -12px 34px -12px rgba(0, 0, 0, 0.16);
    //box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.15);
}
[data-popper-placement='bottom'] {
    border: 1px solid #F2F5F8;
    border-radius: 0 0 14px 14px;
    box-shadow: 0px 12px 34px -12px rgba(0, 0, 0, 0.16);
    //box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.15);
}

.vs__dropdown-menu {
    border: none;
    overflow-x: hidden;
    scrollbar-width: none;  /* Firefox */
    &::-webkit-scrollbar {
        display: none;
    }

    .vs__dropdown-option {
        color: #76879e;
        padding-bottom: 31px;

        &:first-of-type {
            padding-top: 32px;
        }

        &:last-of-type {
            padding-bottom: 30px;
        }

        & > img {
            margin-right: 24px;
        }
    }

    & > .vs__dropdown-option--highlight {
        color: red;
        background-color: #fff;
    }
}

.vs__selected > img {
    margin-right: 24px;
}
